{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="{% static 'home/album_list.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>My Textbooks</h1>
        <h2>Add new textbook</h2>
        <a id="add" href="{% url 'create_album' %}">
            <img src="{% static 'home/images/add.png' %}" alt="logo" style="width: 50px; height: 50px; position: absolute; left: 5%; top: 50%; transform: translate(0, -50%);">
        </a>
        <button id="theme-switch">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <div class="btn">
                <button type="submit" id="signOut">Sign Out</button>
            </div>
            
        </form>
    </div>
    <div style="border-bottom: 2px solid rgb(224, 224, 224); width: 100%; position:sticky; top: 8vh; z-index: 1;"></div>
    

    <ul class="flex-container">
        {% for album in albums %}
        <li>
            
            <div class="album-preview">
                {% if album.images.first %}
                <a href="{% url 'album_detail' album.id %}">
                    <img src="{{ album.images.first.image.url }}" alt="{{ album.title }} Preview" class="preview-thumbnail">
                </a>
                {% else %}
                <a href="{% url 'album_detail' album.id %}">
                    <img src="{% static 'home/images/nopreview.png' %}" alt="no preview" class="preview-thumbnail">
                </a>
                    
                    
                {% endif %}
                <a href="{% url 'album_detail' album.id %}">
                    <div class="text-container">
                        <span id = "name">{{ album.title }}</span>
                    </div>
                </a>
                
                
            </div>
            

        </li>
        {% empty %}
                <li>You have no textbooks</li>
        {% endfor %}
    </ul>

    

    <script>
        let darkmode = localStorage.getItem('darkmode')
        const themeSwitch = document.getElementById('theme-switch')

        const enableDarkmode = () => {
        document.body.classList.add('darkmode')
        localStorage.setItem('darkmode', 'active')
        }

        const disableDarkmode = () => {
        document.body.classList.remove('darkmode')
        localStorage.setItem('darkmode', null)
        }

        if (darkmode === 'active' || darkmode === null) {
            enableDarkmode();
        }

        themeSwitch.addEventListener("click", () => {
        darkmode = localStorage.getItem('darkmode')
        darkmode !== "active" ? enableDarkmode() : disableDarkmode()
        })
    </script>
</body>

