body{
    background-color: #121212;
    color: white;
    align-items: center;
}

.container{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


/* button */
.btn a{
    border: 2px solid #0044ff;
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 0;
    border-radius: 5px;
    width: 3.5vw;           /* Set width to 50 pixels */
    height: 2.6vh;         /* Set height to 25 pixels */
    padding: 12px 12px;
    text-decoration: none !important; /* Removes the underline */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    position:relative;
    
}

.btn a::after {

    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;          /* Keep as 100% for the pseudo-element */
    height: 100%;         /* Keep as 100% for the pseudo-element */
    background-color: #202020;
    left: 0;
    top: 0;
    border-radius: 5px;  /* Match border radius */
}

/* glow */
.btn a::before {

    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);  /* Extend glow effect */
    height: calc(100% + 4px);  /* Extend glow effect */
    filter: blur(2px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
    opacity: 100;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/* hover */
.btn a:hover {
    background: transparent;
}
.btn a:hover::before {
    opacity: 1;
}

.btn a:hover::after {
    background: transparent;
}

.btn a:active::after {
    background: transparent;
}

.btn a:active {
    color: #000000;
}